* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
::-webkit-scrollbar {
  display: none;
}
.mainPage {
  width: 100%;
  height: 100%;
  background-color: rgb(21, 23, 25);
  position: relative;
}
.header_backgroundImg {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  width: 350px;
  height: 300px;
}
.heading_background_item {
  width: 100%;
  height: 100%;
}
.svg_background {
  position: absolute;
  top: 530px;
  left: 20px;
  cursor: pointer;
}
.container {
  padding: 0 120px;
  padding-top: 30px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logoBrand {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.userInterface {
  width: 190px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.signIn {
  padding: 0.5rem 1rem;
  color: rgb(93, 93, 255);
  transition: color 0.5s ease;
  cursor: pointer;
}
.signIn:hover {
  color: white;
}
.signUp {
  font-family: Roboto;
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
  font-weight: 500;
  line-height: 1.375;
  color: white;
  background-color: rgb(93 93 255);
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.signUp:hover {
  background-color: rgb(63, 63, 195);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;
}
.banner h1 {
  color: rgb(217, 227, 234);
  font-size: 58px;
  font-weight: 800;
}
.banner p {
  text-align: center;
  color: rgb(155, 169, 180);
  font-size: 20px;
}
.buttonGroup {
  width: 380px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Btn {
  color: white;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 46px;
  text-align: center;
  flex-direction: row;
  cursor: pointer;
}
.startLearn {
  background-color: rgb(93 93 255);
}
.startLearn:hover {
  background-color: rgb(55, 55, 181);
  transition: background-color 0.5s ease;
}
.LearnMore {
  background-color: rgb(37, 40, 44);
}
.LearnMore:hover {
  background-color: rgb(66, 69, 72);
  transition: background-color 0.5s ease;
}
.video {
  margin-top: 10px;
  width: 90%;
  height: 70%;
  object-fit: cover;
}
.video_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.featureQoutes h2 {
  color: rgb(217, 227, 234);
  font-size: 40px;
  text-align: center;
  margin-bottom: 1rem;
  width: 700px;
}
.featureQoutes p {
  text-align: center;
  color: rgb(155, 169, 180);
  font-size: 20px;
}
.featureControl {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.featureList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4rem;
  row-gap: 20px;
  box-sizing: border-box;
}
.featureItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  box-sizing: border-box;
}
.featureItem div {
  width: 64px;
  height: 64px;
}
.featureItem div svg {
  width: 100%;
  height: 100%;
}
.featureItem h3 {
  color: rgb(217, 227, 234);
  font-size: 26px;
  font-weight: 600;
}
.featureItem p {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.8rem;
  color: rgb(155, 169, 180);
}
.divider {
  width: 100%;
  height: 2px;
  background-color: rgb(37, 40, 44);
}

.stategyMain {
  width: 100%;
  color: white;
}
.stategyHeading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popupFilled {
  padding: 6px 14px;
  font-weight: 600;
  font-size: 0.875rem;
  color: rgb(22 163 74);
  background-color: rgb(187, 247, 208);
  border-radius: 20px;
  margin-bottom: 1rem;
}
.stategyHeading h1 {
  font-size: 40px;
  margin-bottom: 1rem;
}
.stategyHeading p {
  text-align: center;
  color: rgb(155, 169, 180);
  font-size: 1.3rem;
}
.stategy_solution {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.solution {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  grid-gap: 70px;
  align-items: center;
}
.solution ul {
  list-style: none;
}
.solution__infor {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.styles {
  font-size: 22px;
  font-family: Architects Daughter;
  color: rgb(93 93 255);
  margin-bottom: 10px;
}
.solution__infor h1 {
  margin-bottom: 10px;
}
.des {
  color: rgb(155, 169, 180);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 12px;
}
.idea {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.idea__item {
  color: rgb(155, 169, 180);
  font-size: 18px;
  font-weight: 400;
}
.solutionImg {
  width: 100%;
  box-sizing: border-box;
}
.img__item {
  width: 100%;
  object-fit: cover;
}

.feedback__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(155, 169, 180);
}
.feedback__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.feedback__heading h1 {
  color: rgb(226, 232, 237);
  font-size: 40px;
  margin-bottom: 1rem;
}
.feedback__heading p {
  text-align: center;
  color: rgb(155, 169, 180);
  font-size: 20px;
  font-weight: 400;
}
.feedback__floatingCardList {
  margin: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.card {
  background-color: rgb(33 35 38);
  padding: 20px 30px;
}
.card__heading {
  width: 100%;
  position: relative;
  padding-bottom: 26px;
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.decorationItem {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 36px;
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card p {
  font-family: Roboto;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.4rem;
  color: rgb(178, 191, 201);
  letter-spacing: 1.2px;
}
.card__divider {
  margin: 24px 0;
  width: 100%;
  height: 0.1px;
  background-color: rgb(51, 54, 58);
}
.card__moreInfor {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.author {
  color: rgb(217 227 234);
  padding-right: 6px;
}
.space {
  color: rgb(51, 54, 58);
  padding-right: 6px;
}
.infor__brand a {
  color: rgb(93 93 255);
  text-decoration: none;
}
.infor__brand a:hover {
  color: rgb(217 227 234);
}

.userContactArea {
  width: 100%;
  position: relative;
}
.userContact {
  background-color: rgb(93, 93, 255);
  padding: 60px 50px;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
}
.decorationCard {
  position: absolute;
  right: 0;
}
.userContact__left h3 {
  font-family: Roboto;
  font-size: 36px;
  margin-bottom: 10px;
}
.userContact__left p {
  font-family: Roboto;
  font-size: 18px;
  color: rgb(226, 225, 255);
}
.userContact__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userContact__right input {
  width: 60%;
  padding: 14px 14px;
  background-color: rgb(75, 74, 207);
  border: 1px solid rgb(196, 195, 225);
  color: white;
  font-size: 18px;
}

.userContact__right input::placeholder {
  border-color: rgb(196, 195, 225);
}
.userContact__right input:focus {
  outline: none;
  font-size: 18px;
}
.subscibeBtn {
  margin-left: 10px;
  width: 30%;
  padding: 14px 14px;
  color: rgb(93, 93, 255);
  font-size: 18px;
  font-family: Roboto;
}
.section_end_grid {
  color: white;
  width: 100%;
  display: grid;
  gap: 40px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.section_endLeft {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.section_endLeft p {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4rem;
  color: rgb(155 169 180);
  font-family: Roboto;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  font-size: 14px;
  color: rgb(155 169 180);
}
.line:hover {
  color: white;
  transition: color 0.2s;
  cursor: pointer;
}

.footer {
  margin-top: -50px;
  font-size: 14px;
  color: rgb(155, 169, 180);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 100px;
}
.footer p {
  font-size: 14px;
}
.socialMedia_contactList {
  list-style: none;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(37, 41, 48, 0.5);
  fill: rgb(75, 74, 207);
  cursor: pointer;
}
.icon:hover {
  cursor: pointer;
  fill: white;
  background-color: rgb(104, 104, 226);
  transition: fill 0.1s;
  transition: background-color 0.1s;
}
